body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(240, 240, 240);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* All elements with class box */
.box {
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 3px 0 #888888;
    align-content:center;
}

.container {
    max-width: 600px;
}

h3 {
    margin-bottom: 25px;
}

.nav-link {
    padding-top: 0;
    font-size: large
}