@model ListVM.FoodItemVM

<li class="list-group-item">
    <div class="pl-4">
        <input class="form-check-input me-1" type="checkbox" value="" id="@Model.Id">
        <label class="form-check-label" for="@Model.Id">@Model.ItemName</label>
    </div>
</li>