<nav class="nav justify-content-center mb-3">
    <a class="nav-link" asp-controller="eSpensa" asp-action="Index">Home</a>
    <a class="nav-link" asp-controller="eSpensa" asp-action="MyFood">My Food</a>
    <a class="nav-link" asp-controller="eSpensa" asp-action="MyLists">Shopping Lists</a>
</nav>