@{
    ViewBag.Title = "Home";
}
@model IndexVM

<div class="text-left">
    <p>
        Welcome back <strong>Alessandro</strong>!
        <br />
        You have currently @Model.ExpiringSoon items expiring soon
        <br />
        You have currently @Model.InMyShoppingListCount items in your shopping list
    </p>
    <div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>